body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #e80c76;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: #6f0079;
  color: white;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("images/home.background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.home .content {
  text-align: center;
  padding: 20px;
}

#events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 30%;
  margin-top: 20px;
  padding: 20px 0;
}

#events li {
  background-color: #6f0079;
  color: #fff;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  border-radius: 5px;
  list-style-type: none;
  margin: 10px;
}

#events li:hover {
  transform: scale(1.1);
  background-color: #22076c;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: url("images/about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
}

.about-content {
  width: 50%;
  text-align: left;
  text-shadow: 2px 2px 4px #000000;
}

.about-images {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-images img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.contact {
  padding: 20px;
  text-align: left;
  color: #fff;
  background-color: #22076c;
  min-height: 100vh;
  width: 100%;
}
.contact p span {
  color: #d68fdc;
}
.contact p i {
  color: #d68fdc;
}
input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #6f0079;
  color: white;
  font-size: large;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #570033;
}
.contact form {
  text-align: center;
  padding: 20px;
}

.contact form button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #6f0079;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}
.contact form button:hover {
  background-color: #570033;
}
.social-icons {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-icons a {
  font-size: 30px;
  justify-content: center;
  margin: 0 50px;
  color: #ababab;
  transition: transform 0.5s, color 0.5s;
}

.social-icons a:hover {
  transform: translateY(-5px);
  color: rgb(215, 22, 237);
}
.copyright {
  text-align: center;
  padding-bottom: 0px;
}
.copyright i {
  color: rgb(215, 22, 237);
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  color: #1d2020;
  font-size: 50px;
}
